<?xml version="1.0"?>

<configuration>
	
  <!--appSettings Elemento donde se agregan parametros-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Controles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Parametros por medio de Llave KEY y VALUE-->
    <add key="" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalculatorSoap"/>
        <binding name="CalculatorSoap1"/>
        <binding name="CalculatorSoap2"/>
        <binding name="SOAPDemoSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="SOAPDemoSoap1"/>
        <binding name="SatelliteSituationCenterPortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="SatelliteSituationCenterPortBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.dneonline.com/calculator.asmx" binding="basicHttpBinding" bindingConfiguration="CalculatorSoap" contract="Agente.CalculatorSoap" name="CalculatorSoap"/>
      <endpoint address="http://www.dneonline.com/calculator.asmx" binding="basicHttpBinding" bindingConfiguration="CalculatorSoap1" contract="Agente.CalculatorSoap" name="CalculatorSoap1"/>
      <endpoint address="http://www.dneonline.com/calculator.asmx" binding="basicHttpBinding" bindingConfiguration="CalculatorSoap2" contract="Agente.CalculatorSoap" name="CalculatorSoap2"/>
      <endpoint address="https://www.crcind.com:443/csp/samples/SOAP.Demo.cls" binding="basicHttpBinding" bindingConfiguration="SOAPDemoSoap" contract="Agente.SOAPDemoSoap" name="SOAPDemoSoap"/>
      <endpoint address="https://sscweb.gsfc.nasa.gov:443/WS/ssc/2/SatelliteSituationCenterService" binding="basicHttpBinding" bindingConfiguration="SatelliteSituationCenterPortBinding" contract="Agente.SatelliteSituationCenterInterface" name="SatelliteSituationCenterPort"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Controles.Properties.Settings>
      <setting name="Controles_Agente_SatelliteSituationCenterService" serializeAs="String">
        <value>https://sscweb.gsfc.nasa.gov:443/WS/ssc/2/SatelliteSituationCenterService</value>
      </setting>
    </Controles.Properties.Settings>
  </applicationSettings>
</configuration>
